<!-- templates/inicio.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Escolha o Modo</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">Bem-vindo ao CAPTCHA Mind Game</h1>
    <p class="desafio">Antes de prosseguir, escolha o nível de desafio:</p>

    <div class="portas-form">
      <a href="/jogo?mode=easy" class="btn-novo">Modo Fácil</a>
      <a href="/jogo?mode=hard" class="btn-novo">Modo Difícil</a>
    </div>
  </div>
</body>
</html>
